img {
    max-width: 100%;
}

@media screen and (min-width: 480px) {
    img {
        align-items: center;
        max-width: 100%;
    
    } 
    .flex-grid {
        display: flex;
        flex-direction: row;
    }
}
@media screen and (max-width: 480px) {
    h1 {
    font-size: 20px;
    }
   
    .flex-grid {
        flex-direction: column;
    }
}
body{
    background-color:#E0E0E0;

    
}

@media screen and (max-width: 480px) {

}

.menu-drawer{
    color: rgb(233, 50, 50);
}
